<div class="container">
  {% if post.image %}
    <div class="thumb">
      <img src="{{post.image | relative_url }}"/>
    </div>
  {%endif %}
  <div class="content">
    <h2 class="typl8-delta">{{ post.title | escape }}</h2>
    {{post.content}}

  </div>
</div>
{% if post.quote != "" %}
  <div class="quote clear-left">
    <aside class="typl8-pull-quote">
      <blockquote>
        <p>{{post.quote}}</p>
      </blockquote>
    </aside>
  </div>
{% endif %}
{% if post.prijs != "" %}
  <span>
    <strong>€{{post.prijs}}</strong>
  </span>
{% endif %}
<div>
<strong>Bestel:</strong>
<a href="whatsapp://send?phone=+31648469638&text=Ik%20wil%20graag%206%20flessen%20{{post.title| uri_escape}}%20bestellen" class="button">via whatsapp</a>
<a href="mailto:info@wijnvanmartijn.nl" class="button">mail info@wijnvanmartijn.nl</a> of <a href="tel:+31648469638" class="button">bel 06-48469638</a>
</div>

